*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1, p{
    font-family: lato, sans-serif;
    margin-top:0;
    margin-bottom: .5rem;
    color: #4A1942;
}

.start{
    width: 600px;
}

.container{
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
}

li,a,button {
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #050404;
    text-decoration: none;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    background: #EAEAEA;
    padding: 10px 5%;
    box-shadow: 0 15px 15px rgba(0, 0, 0, 0.05);
}

.nav_links{
    line-height: none;
}

.nav_links li{
    display: inline-block;
    padding: 0px 20px;
}


.nav_links li a{
    transform: all;
}

.nav_links li a:hover{
    color: #893168;
}

button{
    padding: 9px 25px;
    background-color: #893168;
    color:#EAEAEA;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: #4A1942; 
    color: #EAEAEA; 
}