*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1, p{
    font-family: lato, sans-serif;
    margin-top:0;
    margin-bottom: .5rem;
    color: #4A1942;
}

p{
    font-size: large;
}

.container .background img{
    max-width: 600px;
}

.container{
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
}

.container .background {
    display: flex;
    justify-content: center; 
    align-items: center;
}

.gameDetails {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
}

.Botton-container {
    display: flex;
    justify-content: center; 
    align-items: center;     
}

.getTodayButton {  
    padding: 20px 30px; 
    font-size: 18px; 
    cursor: pointer;
    border: none;
    background-color: #893168; 
    color:#EAEAEA;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.getTodayButton:hover {
    background-color: #4A1942; 
    color: #EAEAEA; 
}

.resetsave{
    margin-right: 50px; 
}

.container h1{
    margin-bottom: 15px; 
}

.container .image {
    margin-bottom: 30px;  
}

.container p {
    margin-bottom: 30px;  
}

/* copy responsive css for the nav bar */
.menu, .nav-menu{
    display: none;
}

@media (max-width: 768px) {

    .menu {
        display: block;
    }

    .menu-line {
        display: none;
    }

    .menu {
        max-height: 40px;
    }
    
    .favicon {
        max-width: 25px;
    }

    .hamburger-menu {
        margin-right: 10px; 
    }
    
    .favicon {
        margin-left: 10px; 
    }

    .menu-container {
        display: flex;
        align-items: center;
        list-style-type: none; 
        padding: 0; 
    }
    
    .menu-container li {
        margin-right: 20px; 
    }
    
    .menu-container li:last-child {
        margin-right: 0; 
    }

    footer{
        display: none;
    }

    .container .background img{
        display: none;
    }

    .gameDetails img{
        max-width: 100%;  
        height: auto;  
    }
}
/* nav responsive end */

@media (min-width: 992px){
    .start {
        display: none;
    }
    
    /* img {
        max-width: 100%; 
        height: auto;
    } */
    
    .game-container .game-image {
        width: 220px; 
        height: auto;
        margin-top: 1.5rem;
    }

    .library-title {
        display: flex;
        font-size: 3rem;
        margin-top: 2rem;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    /* .game-image {
        width: 220px;
        height: 220px;
        margin-top: 1.5rem;
    } */

    .game-library {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: left;
    }

    .game-container {
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.16), 0 1px 3px rgba(0, 0, 0, 0.23);
        width: 355px; 
        height: 350px; 
        margin: 10px;  
        border-radius: 10px; 
    }

    .full-star, .half-star {
        display: none;
    }


    .flex-container {
        display: flex;
    }

    .paragraph-section {
        flex-basis: 1000px;   
    }

    /* COPY: footer continue */
    footer {
        position: relative;
        bottom: 0;
        width: 100%;
        height: 220px;
        padding: 0.5rem;
        display: flex;
        flex-direction: column;
        color: #893168;
        background: #EAEAEA;
        box-shadow: 0 -2px 5px rgba(0,0,0,0.1);
    }

    footer p a {
        text-decoration: none;
        color:#4A1942;
    }

    .material-icons {
        display: inline-block;
        margin: 0;
        padding: 0;
    }
}

/* [not responsive] basic css for the navigation bar */
/* keep sealed */
li,a,button {
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #050404;
    text-decoration: none;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    background: #EAEAEA;
    padding: 10px 5%;
    box-shadow: 0 15px 15px rgba(0, 0, 0, 0.05);
}

.nav_links{
    line-height: none;
}

.nav_links li{
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a{
    transform: all;
}

.nav_links li a:hover{
    color: #893168;
}

button{
    padding: 9px 25px;
    background-color: #893168;
    color:#EAEAEA;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: #4A1942; 
    color: #EAEAEA; 
}

/* Sunny's game library css code DON'T MODIFIED */
.library-title {
    padding: 1rem;  
    margin-bottom: 1rem;
    color:#893168;
    font-size: 2rem;
  }
  
  
  .rating {
      display: inline-block;
      font-size: 20px;
      margin-top: 1rem;
  }
  
  .rating .full-star, .half-star {
      color: #ffcc00;
  }
  
  .game-container {
      display: flex;
      flex-direction: column;
      /* align-items: center; */
      margin: 1rem;
      border-radius: 5px;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.16), 0 1px 3px rgba(0, 0, 0, 0.23);
  }
  
  .game-image {
      width: 100px;
      height: 100%;
      background-color: #EAEAEA;
      display: block;
  }
  
  .game-info {
      /* display: inline; */
      display: flex;
      flex-direction: column;
      font-size: 1.5rem;
      margin: 1rem;
      justify-content: center;
  }
  
  .game-info a {
      color: inherit;
      display: inherit;
      font-size: inherit;
      text-decoration: none;
  }
  
  .game-info a:hover {
      color:#893168;
      text-decoration: underline;
      transition: all 0.3s ease 0s;
  }
  
  .detail-game-title {
      padding: 1rem;  
      color:#4A1942;
      font-size: 2rem;
  }
  
  .detail-image {
      max-width: 100%;
      height: auto;
  }
  
  .detail-time, .detail-bookmark, .detail-list {
      margin: 1rem;
  
  }
  
  .detail-publish-year, .detail-bookmark-title {
      font-weight: 500;
  }
  
  .detail-model {
      margin-top: 0.5rem;
      text-decoration: none;
      font-weight:300;
  }
  
  .detail-publish-time {
      margin-left: 0.5rem;
      font-weight: lighter;
      text-decoration:underline;
  }
  
  p {
      margin: 1rem;
  }

  /* Sunny's part end */