* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li,a,button {
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #050404;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    background: #EAEAEA;
    padding: 10px 5%;
    box-shadow: 0 15px 15px rgba(0, 0, 0, 0.05);
}

nav {
    line-height: none;
}

nav li {
    display: inline-block;
    padding: 0px 20px;
}

nav li a {
    transform: all;
}

nav li a:hover {
    color: #893168;
}

button {
    padding: 9px 25px;
    background-color: #893168;
    color:#EAEAEA;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: #4A1942; 
    color: #EAEAEA; 
}

.adding-new-game {
    max-width: 600px;
    padding: 30px;
    margin-left: 25%;
}

.adding-new-game h1 {
    color: #4A1942;
    padding-bottom: 30px;
}

input[type="text"], textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="checkbox"] {
    accent-color: #893168;
    margin-left: 5px;
}

label {
    display: inline-block;
    margin-bottom: 5px;
}

.info-input {
    margin-bottom: 15px;
}

.info-input-checkbox {
    padding-right: 5px;
    margin-bottom: 10px;
}

.info-input-checkbox p {
    margin-bottom: 5px;
}
