@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


*{
  box-sizing: border-box;
}

li,a,button,span {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #050404;
  text-decoration: none;
}

nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #EAEAEA;
  /* padding: 10px 5%; */
  box-shadow: 0 15px 15px rgba(0, 0, 0, 0.05);
  position: sticky;
  top: 0;
  z-index: 1000;
}

nav .title{
  font-size: 1.5rem;
  margin: 1rem;
}

nav ul{
  display: flex;

}

nav ul li{
  list-style: none;
  display: inline-block;
  /* padding: 0px 20px; */
}

nav ul li a{
  display: block;
  text-decoration: none;
  padding: 0.5rem;
  margin: 0 0.5rem;
  border-radius: 0.5rem;
}

nav li a:hover{
  color: #893168;
}

nav .menu-icon{
  display: none;
  position: absolute;
  top:0.75rem;
  right: 0.75rem;
  flex-direction: column;
  justify-content: space-between;
  width: 2.25rem;
  height: 2rem;
}

nav .menu-icon span{
  height: 0.4rem;
  width: 100%;
  border-radius: 0.2rem;
  background-color: #050404;
  cursor: pointer;
}

.background img{
  max-width: 100%;
  height: auto;
} 

h1 {
  font-family: Roboto, sans-serif;
  color:#893168;
}

/* div .container-gamedetail{

} */

.container .p{
  margin-bottom: 20px;
}

.container .background{
  margin-bottom: 20px;
}

button{
  padding: 9px 25px;
  background-color: #893168;
  color:#EAEAEA;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

button:hover {
  background-color: #4A1942; 
  color: #EAEAEA; 
}

.bg-header {
  background-color: #893168;
}

.profile_links {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.profile_links li {
  display: inline-block;
  padding: 0 1.5rem;
}

.profile_links li a{
  transform: all;
  color: white;
  font-size: 4vw;
}

.profile_link_nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 1rem;
  padding: 3% 0% 0% 11%;
}

.Botton-container {
  padding-bottom: 15px;
}

.container-gamedetail {
  margin-left: 55.5px;
}

.saveButton, .resetButton {
  margin: 10px;
}

.game-container {
  display: flex;
  flex-direction: row;
  margin: 1rem;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.16), 0 1px 3px rgba(0, 0, 0, 0.23);
}

.game-info {
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  margin: 1rem;
  justify-content: space-between;
  align-items: left;
  width: 100%; 
}

.bookmark-button {
  height: 40px;
  width: 100px;
  padding: 8px;
  font-size: smaller;
  margin: 10px;
}

.game-genrel {
  display: none;
}

.library-title {
  padding: 1rem;  
  margin-bottom: 1rem;
  color:#893168;
  font-size: 2rem;
}

.rating .full-star, .half-star {
  color: #ffcc00;
}

.rating {
  display: flex;
}

.genreType {
  font-weight: 400;
  
}

.game-image {
  width: 180px;
  height: auto;
  background-color: #EAEAEA;
  display: block;
}

.detail-img{
  height: auto;  
  width: 100%;
}

.detail-content {
  margin: 10px;
}

/* THIS IS THE Search Page CSS*/
.search-game-heading {
  padding: 80px 1rem 1rem;
  margin-bottom: 1rem;
  color: #893168;
  font-size: 3rem;
  text-align: center;
}

.search-bar {
  /* display: flex; */
  align-items: center; 
  margin-bottom: 2em;
  width: 300px;
  max-width: 100%;
}

.search-bar input[type="text"]{
  border: 1px solid #bdbdbd;;
  border-radius: 5px;
  /* margin-right: 1em; */
}

.search-bar button{
  padding: 10px 50px;
  background-color: #893168;
  color:#EAEAEA;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.genre {
  display: flex;
  flex-direction: column;
}

.price {
  display: flex;
  flex-direction: column;
}

.rating-search {
  display: flex;
  flex-direction: column;
}
.rating-star {
  display: flex;
  flex-direction: column;
  color: #ffcc00;
}

.platform {
  display: flex;
  flex-direction: column;
}

.release-year {
  display: flex;
  flex-direction: column;
  width: 300px;
  max-width: 100%;
}

.release-year input[type="text"]{
  padding: 10px 20px;
  border: 1px solid #bdbdbd;;
  border-radius: 5px;
  width: 150px
}

.search-page {
  display: block;
  padding: 0;
  font-family: Roboto, sans-serif;
}

.rating .full-star, .half-star {
  color: #ffcc00;
}

.no-games-found {
  justify-content: center;
  align-items: center;
  top:0px;
}

/* FLEXBOXES for Search Page */

.content-container {
    display: flex; 
    justify-content: space-between; 
    padding-left: 5em;
}

/* FILTERS SECTION for Search Page */
.filters {
    flex: 1; 
    margin-right: 15px; 
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
}

.category-container {
    margin-bottom: 1em;
}

.filters h2 {
    margin-bottom: 5px;
}

/* THIS IS THE Add Game CSS  */
.adding-new-game {
  font-family: Roboto, sans-serif;
  margin-left: auto;
  margin-right: auto;
}

.add-game-button {
  padding: 9px 25px;
  color:#EAEAEA;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  margin-bottom: 2em;
}

.adding-new-game {
  max-width: 800px;
  display: block;
  padding: 0 5% 0;
}

.addGameHeader {
  padding: 80px 1rem 1rem;
  margin-bottom: 1rem;
  color: #893168;
  font-size: 3rem;
  text-align: center;
}

input[type="text"], input[type="number"], textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

input[type="checkbox"] {
  accent-color: #893168;
  margin-left: 5px;
  margin-right: 5px;
}

label {
  display: inline-block;
  margin-bottom: 5px;
}

.info-input {
  margin-bottom: 15px;
}

.info-input-checkbox p {
  margin-bottom: 5px;
  margin-left: 0;
}

.info-input-checkbox {
  margin-bottom: 1em;
  margin-left: 0;
}

.info-input input {
  display: block;
}

/* COPY:footer start*/
footer {
  display: none;
}

/* copy responsive css for the nav bar */
.profile-prompt {
  font-size: 10vw;
}

@media (max-width: 768px) {
  nav .menu-icon{
    display: flex;
  }

  nav{
    flex-direction: column;
    align-items: start;
    /* background-color: #EAEAEA; */
    
  }

  nav ul{
    display: none;
    flex-direction: column;
    width: 100%;
    margin-bottom: 0.25rem;
  }

  nav ul li{
    width: 100%;
    text-align: center;
  }

  nav ul li a{
    margin: 0.2rem 0.5rem;
  }

  nav ul.open{
    display: flex;
  }


  /* save */
  footer{
      display: none;
  }

  .background {
    display: none;
  }

  
}

@media (min-width: 768px) {
  .profile_links li a {
      font-size: 2vw;
  }

  .profile_links li a:hover{
      color: #eaeaea;
  }

  .library-title {
    font-size: 3rem;
    margin-top: 2rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    font-family: Roboto, sans-serif;
  }

  .container-gamedetail {
    margin-left: 127px;
  }
  .game-image {
      width: 400px;
      height: 220px;
      margin-top: 1.5rem;
  }

  .game-library {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* justify-content: left; */
    justify-content: center;
    width: 100%; 
  }

  .game-container {
      position: relative;
      flex-direction: row;
      align-items: center;
      flex-wrap: wrap;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.16), 0 1px 3px rgba(0, 0, 0, 0.23);
      width: 400px;
      height: 350px; 
      margin: 10px;  
      border-radius: 10px; 
  }

  .game-genrel {
    display: block;
    /* margin-top: -20px; */
    margin-left: 15px;
    margin-bottom: 10px;
  }

  .bookmark-button {
    position: absolute;
    top: 250px; /* Adjust as needed */
    right: 10px; 
  }

  .detail-content {
    display: flex;
  }

  .detail-description {
    padding-right: 10px;
  }

  .other-details {
    flex-shrink: 0;
    width: 200px;
    margin-right: -10px;
    margin-top: -10px;
    background-color: #bdbdbd;
    padding-top: 20px;
  }

  /* .description {
    flex-basis: 1000px;
  } */
  
  footer {
      position: relative;
      bottom: 0;
      width: 100%;
      height: 220px;
      padding: 0.5rem;
      display: flex;
      flex-direction: column;
      color: #893168;
      background: #EAEAEA;
      box-shadow: 0 -2px 5px rgba(0,0,0,0.1);
  }
  
  footer p a {
      text-decoration: none;
      color:#4A1942;
  }
  
  .material-icons {
      display: inline-block;
      margin: 0;
      padding: 0;
  }

  .profile-prompt {
      font-size: 4vw;
  }
}

/* 
#eaeaea
#893168
#4a1942
#2e1c2b
#050404
*/